body{
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 60px;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* cabeçalho */
header{
  background-color: coral;
  margin: 0;
  padding: 0;
}
.container-cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
}
.container-cabecalho, a{
  text-decoration: none;
  color: black;
}
/* main */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.thumbnail{
  width: 200px;
}
.container-video{
  margin: 15px;
  border: 1px solid gray;
}
.container-video, h2{
  text-align: center;
}
/* rodape */
footer{
  padding: 20px;
  text-align: center;
  background-color: rgb(43, 42, 42);
}
footer, h3{
  color: rgb(255, 255, 255);
}

/* paginas videos */
.container-pagina-video{
  display: block;
  margin: auto;
}
.container-pagina-video, video{
  width: 800px;
}
.container-pagina-video, h2{
  text-align: center;
}